


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="home-content">
        <div class="text-center" >
          <h1>Welcome to Code Farm!</h1>
        </div>
        <%= link_to pages_welcome_path do %>
          <canvas id="homeCanvas" width="450" height="650"></canvas>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  document.onload = loadHomePage();
</script>
