<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Arrays</h1>
        <div class="arraysDescription">
          <div class='div1'>
            <p>
              An array is a structure containing a group of items. Typically these items are all the same type, for instance our chicken perch represents an array containing chickens.
            </p>
            <p>
              Generate a 'new' array by entering the correct method below!
            </p>
            <span>

              <p>chicken_perch = Array.<input type="text" id="newArray" style="width:40px" pattern="new" required>(4, chickens)</p>

              <button type="button" id="arrayNewBtn">Generate</button>
            </span><br>
            <p id="demo"></p>
          </div>

          <div class='div2' style="display:none">
            <p> Array items can be selected by their "index" with the first item having an index of 0.  Have a play below by entering the index of different chickens in the array.</p>
            <span>
              <p>chicken_perch[

                <input type="number" id="arrayIndex" style="width:20px" min="0" max="3" required> ]</p>

              <button type="button" id="arrayIndexBtn">Select chicken</button>
            </span>
            <p id="demo2"></p>
          </div>

          <div class='div3' style="display:none">
            <p> The last item of an array can be popped off. Try 'popping' off the last chicken of our array with the correct method.</p>
            <span>
              <p>chicken_perch.

                <input type="text" id="arrayPop" style="width:40px" pattern="pop" required></p>

              <button type="button" id="arrayPopBtn">Pop chicken</button>
            </span>
            <p id="demo3"></p>
          </div>

          <div class="div3">
            <div class="toggle_button">
              <a href="javascript:void(0);" id="toggle_value">Next</a>
            </div>
          </div>
          <div class="div4" style="display:none">
            <div class="toggle_button">
              <a href="#" id="toggle_value">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  document.onload = loadPageThree();

  $("#toggle_value").click((function(){
          var counter = 1;
          return function()
          {
             $(".div" + counter).hide();
             counter = (counter ) + 1;
             $(".div" + counter).show();
          }
          })());
</script>
