<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <h1>Change Chicken Speed!!</h1>
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <input type="integer" id="velocity" placeholder="50">
        <button type="button" onclick="changeSpeed(velocity.value)">GO!</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.onload = function() {
  init()
  }

  var speed = 35;
  var canvas;
  var chicken;
  var spriteRotation = 0;
  var posX = 200;
  var posY = 200;
  var sign = 1;
  var interval;

  function init() {
    canvas = document.getElementById("canvas");
    interval = setInterval(draw, speed);
    ctx = canvas.getContext('2d');
    loadGraphics();
  }

  function loadGraphics() {
    chicken = loadSprite('images/flatChicken.png');
  }

  function loadSprite(imageName) {
    var image = new Image();
    image.src = imageName;
    return image;
  }

  function draw() {
    updateScene();
    renderScene();
  }

  function renderScene() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    drawSprite(chicken, posX, posY, spriteRotation, 0.5);
  }

  function updateScene() {
    spriteRotation += 0.2;
    updatePositions();
  }

  function drawSprite(imageObject, x, y, rotation, scale) {
    var w = imageObject.width;
    var h = imageObject.height;

    ctx.save()
    ctx.translate(x, y);
    ctx.rotate(rotation);
    ctx.scale(scale, scale);
    // draw image to screen drawImage(imageObject, sourceX, sourceY, sourceWidth, sourceHeight, rotateX, rotateY, destinationWidth, destinationHeight)
    ctx.drawImage(imageObject, 0, 0, w, h , -w/2, -h/2, w, h);
    ctx.restore();
  }

  function changeSpeed(newSpeed) {
    clearInterval(interval);
    speed = (1/newSpeed)*100;
    draw();
    interval = setInterval(draw, speed);
  }

  function updatePositions() {
    if (posX > canvas.width) {
      sign = -1
    } else if (posX < 0) {
      sign = 1
    }
    posX = posX + (3 * sign)

  }



</script>
