<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Chicken spin!</h1>
        <p>You can change the speed of the chicken by changing the variable below:</p>
        <p>chicken.speed = y</p>
        <p> </p>
        <p>y = <input type="integer" id="velocity" placeholder="a value from 1 to 10"></p>
        <p>Current speed: <span id="current_speed"></span></p>
      </div>
    </div>
  </div>
</div>
<div class=fence>
  <img src="../images/fence3.png" alt="Fence" class="center-block" width="100%" height="60%" />
</div>
<script>
  document.onload = loadPageTwo()
</script>
