<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <input type="integer" id="velocity" placeholder="100">

      </div>
    </div>
  </div>
</div>

<div class=fence>
  <img src="../images/fence3.png" alt="Fence" class="center-block" width="100%" height="60%" />
</div>

<script>
  document.onload = loadPageTwo()
</script>
