<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Variables</h1>
        <div class="variableDescription">
          <p>Variables are names used to hold one or more values. Instead of repeating values you can call the variable name instead.</p>
        </div>
        <p>Try changing the width!</p>
          <span>
            x = <input type="text" id="width" placeholder="150">
          </span>
          <h4>chicken.width = x </h4>
        <p>Try changing the height!</p>
        <span>
          y = <input type="integer" id="height" placeholder="100">
        </span>
        <h4>chicken.height = y </h4>
        <p>Try changing the position of the chicken by changing the x and y coordinates. If he gets lost, try to bring him back :)</p>
          <span>
              x_coord = <input type="integer" id="xPosition" placeholder="20">
              y_coord = <input type="integer" id="yPosition" placeholder="20">
          </span>
          <h4>chicken.position(x_coord, y_coord)</h4>

          <div class="div1">
            <div class="toggle_button">
              <%= link_to 'Next', pages_page2_path %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



<script>
  document.onload = loadPageOne()
</script>
