<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Variables</h1>
        <div class="variableDescription">
          <p>Variables are names used to hold one or more values. Instead of repeating values you can call the variable name instead</p>
        </div>
        <p>Try changing the width!</p>
          <span>
            x = <input type="text" id="width" placeholder="150">
          </span><br>
          <h3>chicken.width = x </h3>
        <p>Try changing the height!</p>
        <span>
          y = <input type="integer" id="height" placeholder="100">
        </span>
          <br>
          <h3>chicken.height = y </h3>
        <p>Try changing the x, y coordinates of the chicken. If it is lost, try to bring it back :)</p>
          <span>
              x = <input type="integer" id="xPosition" placeholder="20">
              y = <input type="integer" id="yPosition" placeholder="20">
          </span>
          <h3>chicken.position(x, y)</h3>
      </div>
    </div>
  </div>
</div>

<div class=fence>
  <img src="../images/fence3.png" alt="Fence" class="center-block" width="100%" height="60%" />
</div>

<script>
  document.onload = loadPageOne()
</script>
