<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <h1>Arrays</h1>
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Arrays</h1>
        <div class="arraysDescription">
          <p>
            An array is a structure that contains a group of items. Typically these items are all of the same type, for instance our chicken perch represents an array containing a group of chickens.
          </p>
          <p> Generate a new array by entering the 'new' method below </p>
          <span>
            <p>chicken_perch = Array.<input type="text" id="newArray">(4, chickens)</p>
            <button type="button" id="arrayNewBtn">Generate</button>
          </span><br>

          <p> Array items can be selected by their "index" with the first item being 0.  Have a play below by entering the index of the chickens array you created.</p>
          <span>
            <p>chicken_perch[
              <input type="text" id="arrayIndex">]</p>
            <button type="button" id="arrayIndexBtn">Select chicken</button>
          </span>

          <p> Array items can be popped. Try 'popping' off the last element.</p>
          <span>
            <p>chicken_perch.
              <input type="text" id="arrayPop"></p>
            <button type="button" id="arrayPopBtn">Pop chicken</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.onload = loadPageThree();
</script>
