<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Chicken spin!</h1>
        <p>You can change the speed of the chicken by changing the variable below:</p>
        <p>chicken.speed = y</p>
        <p> </p>
        <p>y = <input type="integer" id="velocity" placeholder="a value from 1 to 10"></p>
        <p>Current speed: <span id="current_speed"></span></p>
        <div id="progressBarContainer" style="height: 100px; width: 300px; align: center;"></div>

        <div class="div1">
          <div class="toggle_button">
            <%= link_to 'Next', pages_page3_path %>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="overload" style="display:none">
    <img src="../images/overload.png" alt="Chicken Overload!" class="center-block" width="100%" height="100%" />
  </div>
</div>

<script>
  document.onload = loadPageTwo()
</script>
