
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <h1>Arrays</h1>
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Arrays</h1>
        <div class="arraysDescription">
          <p>
            An array is a structure that contains a group of items. Typically these items are all of the same type, for instance our chicken perch represents an array containing a group of chickens.
          </p>
          <p> Generate a new array by entering the 'new' method below </p>
          <span>
            <p>chicken_perch = Array.<input type="text" id="newArray">(4, chickens)</p>
            <button type="button" id="arrayNew" onclick ="draw()">Generate</button>
          </span><br>

          <p> Array items can be selected by their "index" with the first item being 0.  Have a play below by entering the index of the chickens array you created.</p>
          <span>
            <p>chicken_perch[
              <input type="integer" id="arrayIndex">]</p>
            <button type="button" id="arrayIndex" onclick ="chickenIndex()">Select chicken</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">


  var c= document.getElementById("canvas");
  var ctx = c.getContext("2d");

  var $newArray=document.getElementById('newArray');
  var $arrayIndex=document.getElementById('arrayIndex')


  function draw() {
    if ($newArray.value === "new") {
      ctx.clearRect(0,0,550,500);
      ctx.fillRect(10, 225, 50, 50);
      ctx.fillRect(110, 225, 50, 50);
      ctx.fillRect(210, 225, 50, 50);
      ctx.fillRect(310, 225, 50, 50);

    } else {
      alert("Incorrect!")
    }
  }
function chickenIndex(){
  var index = $arrayIndex.value
  if (index == 0) {update0();}
  else if (index == 1) {update1();}
  else if (index == 2) {update2();}
  else if (index == 3) {update3();}
  else {
    alert("This is not an index! ")
  }
}

function update0() {
  ctx.clearRect(0,0,550,500);
  ctx.fillRect(10, 225, 100, 100);
  ctx.fillRect(110, 225, 50, 50);
  ctx.fillRect(210, 225, 50, 50);
  ctx.fillRect(310, 225, 50, 50);
}

  function update1() {
    ctx.clearRect(0,0,550,500);
    ctx.fillRect(10, 225, 50, 50);
    ctx.fillRect(110, 225, 100, 100);
    ctx.fillRect(210, 225, 50, 50);
    ctx.fillRect(310, 225, 50, 50);
  }

  function update2() {
    ctx.clearRect(0,0,550,500);
    ctx.fillRect(10, 225, 50, 50);
    ctx.fillRect(110, 225, 50, 50);
    ctx.fillRect(210, 225, 100, 100);
    ctx.fillRect(310, 225, 50, 50);
  }

  function update3() {
    ctx.clearRect(0,0,550,500);
    ctx.fillRect(10, 225, 50, 50);
    ctx.fillRect(110, 225, 50, 50);
    ctx.fillRect(210, 225, 50, 50);
    ctx.fillRect(310, 225, 100, 100);
  }

  </script>
