<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <h1>Hello left.</h1>
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Hello right.</h1>
        <p>You can change the width of the rectangle by entering in width in below box</p>
          <input type="integer" id="width" placeholder="width = 150px">
        <p>You can change the height of the rectangle by entering in height in below box</p>
          <input type="integer" id="height" placeholder="height = 100px">
        <p>You can change the x coordinate of the rectangle by entering in x coordinate in below box</p>
          <input type="integer" id="x_position" placeholder="x = 20">
        <p>You can change the y coordinate of the rectangle by entering in y coordinate in below box</p>
        <input type="integer" id="y_position" placeholder="y = 20">
        <p></p>
        <p><button type="submit "id="submit">Submit changes</button></p>
      </div>
    </div>
  </div>
</div>
