
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="left-content">
        <h1>Change Chicken Speed!!</h1>
        <canvas id="canvas" width="550" height="500"></canvas>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="right-content">
            <p>Our chicken is moving right horizontally 10 pixels each second. You can change the speed of the chicken by entering a number between 1-100 in below input field</p>
        <input type="integer" id="velocity" placeholder="50">
        <button type="button" onclick="changeSpeed(velocity.value)">Speed UP!</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.onload = function() {
  draw()}
  var canvas = document.getElementById("canvas");

  var chicken = new Chicken(0, 20);
  var ctx = canvas.getContext('2d');
  var speed = 10

  function changeSpeed(newSpeed) {
      clearTimeout(loopTimer);
      speed = (1/newSpeed)*100;
      draw();
  }

  function Chicken(xPos, yPos)
      {
      this.x = xPos;
      this.y = yPos;

      this.state = 0;
      }

     Chicken.prototype.create = function(canvasContext) {
       canvasContext.clearRect(0,0,550,400);
       canvasContext.fillRect (this.x, this.y, 50, 50);
     };

       function draw() {
         chicken.create(ctx);
         if (chicken.x > 550)
        {
           chicken.x = 0;
         }
         chicken.x += 1;

         loopTimer = setTimeout ('draw()', speed);
       }

</script>
