
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6 ">
      <div class="left-content">
          <h3>name = <span id="name_variable"></span></h3>

          <h4>puts "Welcome, #{<span id="code_name">name</span>}!"</h4>
          <!-- <h4 id="name_upcase">puts "Welcome, #{name.upcase}!"</h4>
          <h4 id="name_reverse">puts "Welcome, #{name.reverse}!"</h4>
          <h4 id="name_">puts "Welcome, #{name.replace}!"</h4> -->

          <h3>Welcome, <span class="name" ></span>!</h3>
      </div>
    </div>

    <div class="col-sm-6 ">
      <div class="right-content">
        <h1>Hello!</h1>
        <p>
          Welcome to CODE CLUCK! You are going to learn some really cool computer tricks over the next few lessons. I'm so excited to learn with you!
        </p>
        <p>Enter your name in the box below and see it appear on the other side!</p>
        <span>
          <input type="string" id="name_input" placeholder="put your name here.">
          <button onclick="replaceName(name_input.value,'name')">Add your name!</button>
        </span>
        <br>
        <br>
        <p>
          You see how your name gets attached to the word name at the top? This is called a variable, we will learn more about this later.
        </p>
        <p>
          Why dont you see if you can guess what changes the buttons below make and then click on them to see what happens.
        </p>

        <span>
          <button onclick="upcase(name_input.value)">.upcase</button>
          <button onclick="downcase(name_input.value)">.downcase</button>
          <button onclick="reverse(name_input.value)">.reverse</button>
          <button onclick="replace(name_input.value)">.replace (vowels with a ★!)</button>
        </span>
      </div>
    </div>

  </div>

  <script type="text/javascript">
    function replaceName(name, code_name){
      $(".name").html(name);
      $("#name_variable").replaceWith(name);
      $("#code_name").html(code_name);
    }

    function upcase(name){
      var upcase = name.toUpperCase();
      replaceName(upcase, "name.upcase");
    }

    function downcase(name){
      var downcase = name.toLowerCase();
      replaceName(downcase, "name.downcase");
    }

    function reverse(name){
      var reverse = name.split("").reverse().join("");
      replaceName(reverse, "name.reverse");
    }

    function replace(name){
      var replace = name.replace(/A|a|E|e|I|i|O|o|U|u/g, "★")
      replaceName(replace, "name.replace");
    }


  </script>
</div>
