/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #3C8A47;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body {
  background-color: #b7daff;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

.navbar-fixed-top {
  border-bottom: 3px solid #696969;
  background-color: #efefef;
  height: 54px;
}

.navbar-container {
  width: 640px;
  margin: 0 auto;
}

.container-fluid .col-sm-6 {
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.nav > li > a:hover{
  color: black;
    background-color:#FCC;
}

.footer {
  border-top: 3px solid #696969;
  padding: 20px;
}

.left-content {
  border: 4px solid #696969;
  border-radius: 25px;
  background: white;
  margin: 40px 40px 40px 40px;
  padding: 20px;
  height: 500px;
  min-height: 100%;
}

.right-content {
  border: 4px solid #696969;
  border-radius: 25px;
  background: white;
  padding: 40px;
  margin: 40px 40px 40px 40px;
  height: 500px;
  min-height: 100%;
}

canvas {
  border-style: dashed;
  border-radius: 15px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;
}

.pretend-canvas {
  border-style: dashed;
  border-radius: 15px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;
}

.chicken {
}

.code-input {
  padding: 20px;
  font-family: "Lucida Console", Monaco, monospace;
}

.code-output {
  padding: 20px;
  padding-top: 80px;
  margin-bottom: 250px;
}

.fence {
  position: absolute;
    right: 0;
    bottom: 0;
  margin-bottom: 40px;
}

.toggle_button {
  text-align: right;
}
